html,body {
    height: 100%;
}

body {
    min-height: 101vh;
    padding-top: 5rem;
}

#balance {
    font-size: 1rem;
    height: 2.4rem;
    padding-top: 0.59rem;
}

.modal-dialog {
    min-width: 68ch;
}

#account-add-pk {
    font-family: monospace;
    font-size: 1em;
}

.modal-comment {
    margin-top: 1em;
    font-size: 0.8em;
    color: grey;
}

#account-coins-queue-card {
    height: 15rem;
    overflow: scroll;
    overflow-scrolling: auto;
}

.account-coins-queue-list-item.active {
    background: aliceblue;
    color: black;
}

#editor {
    height: 500px;
    border: 2px solid lightblue;
    border-radius: 5px;
}

#editor-row-overlay {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 128px;
    height: 128px;
    top: calc(40% - 64px);
    left: calc(50% - 64px);
}

.disabled-area {
    pointer-events: none;
    opacity: 0.4;
}

#footer-row {
    background-color: #fafafa;
    border-top: 1px solid lightgrey;
}